@charset "UTF-8";

body {
  margin: 0;
  padding: 0; 
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("1.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*****************************************
  *----------------------------------
  |  ThisStyleVersion: 4.0.4      |
  |  © 2021-2023 By Pusyuu        |
  |  LastUpdate: 2023-07-12       |
  |  ・。・ﾌﾟｼｭｰ・・・。          |
----------------------------------*
******************************************/

/* 色、模様、サイズ調整部
---------------------------------*/

p {
 color: #111;
}

h1 {
 color: #0064ff;
}

h2 {
  color: #00ff00;
}

h3 {
  color: #80ff00;
}

ol {
  padding-inline-start: 5px;
}

table {
  margin: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid green;
}

th {
  border: 1px solid green;
  padding: 5px;
}

tr {
   border: 1px ridge;
}

td {
  border: 1px solid green;
  padding: 5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #33bbff;
}
a:hover {
  color: #00ffc6;
}

.animation {
  opacity: 0;
  transform: translateY(50px);
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.article {
  margin: 10px;
  width: auto;
  height: auto;
  background-color: rgba(255,255,255,0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 10px;
}

.gate_box {
  margin: 5px;
  width: 350px;
  height: 300px;
  border: 1px solid rgba(50,130,180,0.5);
  transition: all .25s;
  box-shadow: 3px 3px 5px #333;
}
.gate_box:hover {
  border: 1px solid rgba(50,220,100,0.8);
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px #000;
}
.gate_link {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.gate_box_content {
  padding: 10px;
}

.yokoori {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avator_image {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
}

.center {
  display: flex;
  justify-content: center;
}

.profile_component {
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  width: 55vw;
  height:55vh;
  margin: 20px;
  overflow: hidden;
  height: auto;
  padding: 10px;
  box-shadow: 3px 3px 3px #000;
}

.profle-r {
  display: flex;
  justify-content: flex-end;
}

.profle-l {
  display: flex;
  justify-content: flex-start;
}

.profle-box {
  background-color: #fff;
  width: 70%;
  height: 50%;
  border-radius: 50px;
  padding: 20px; 
  margin: 5px;
}

summary {
  text-align: center;
  color: #00ffff;
  margin: 10px;
  cursor: pointer;
}
summary:active {
  color: #000fff;
}

/* レスポンシブ調整部
---------------------------------*/

@media only screen and (max-width:650px){

.profile_component {
  width: auto;
  border-radius: 15px;
  margin: 50px;
}

.gate_box {
  width: 200px;
  height: 450px;
}

}